{% extends 'App_Core/base.html' %}

<!-- --------------------------------- Angular Grand | plantilla mis_fotos  -->

{% block title %}Mis Fotos{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'App_Core/css/mis_fotos.css' %}" rel="stylesheet">
{% endblock %}



<!-- .................. contenido | plantilla mis_fotos ..................  -->

{% block content %}




<!-- ................................ galería de fotos  -->
<section>

    <h1 class="titulo-loco">Mis Fotos</h1>

    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada felis ut eros viverra, ac lobortis metus ullamcorper. Donec sit amet fermentum dui. Vivamus in est ut libero lacinia ullamcorper. Proin at quam quis eros tincidunt tempor a in velit. Integer ut neque nec odio lacinia ultricies nec sit amet lacus. Maecenas tincidunt vestibulum magna, non lobortis odio vehicula eget. Nam ac libero nec nisi tempus suscipit vel sed metus. Duis vel velit ultricies, tincidunt magna sit amet, efficitur odio. Nunc tempor nibh sit amet orci tristique, a vulputate nulla fermentum. Nulla ac libero sed justo vehicula cursus. Vivamus eget ante ac quam elementum varius eget id odio. Sed sed metus at arcu commodo malesuada. Phasellus sit amet felis vel dolor congue sollicitudin nec sed lacus. Vivamus quis interdum nulla. Sed nec suscipit odio.
    </p>

</section>



{% endblock %}
