{% extends 'App_Core/base.html' %}

<!-- ---------------------------------- Angular Grand | plantilla sobre_mi  -->

{% block title %}Sobre Mí{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'App_Core/css/sobre_mi.css' %}" rel="stylesheet">
{% endblock %}



<!-- .................. contenido | plantilla sobre_mi ...................  -->

{% block content %}




<!-- .............................. perfil profesional  -->
<section>

    <h1 class="base__title">Sobre Mí</h1>
    
    <p class="base__parrafo">
    Soy Cesar Peña, un fotógrafo apasionado por capturar la esencia del mundo a través de mi lente. Mi amor por el viaje y la naturaleza me ha llevado a explorar paisajes serenos y vibrantes culturas, buscando siempre esa imagen perfecta que narre una historia sin palabras.<br><br>

    Como budista aprendiz, encuentro en cada disparo una oportunidad para conectar con el momento presente y la belleza que nos rodea. Mi carrera profesional se ha desarrollado en múltiples facetas de la comunicación; he sido periodista, publicista, locutor y escritor, lo que me ha dotado de una perspectiva única para desempeñarme como Community Manager.<br><br>

En este rol, combino mi ojo artístico con mi habilidad para tejer narrativas, creando conexiones auténticas en el vasto mundo digital.
    </p>

</section>



{% endblock %}
