@charset "UTF-8";

/* PLANTILLA CSS - título o nombre del archivo */

/* --------------------------------- variables globales 󰌜 */

:root {

    /* Paleta de colores */
    --blanco: #ffffff;
    --negro: #000000;
    --bacground: #0d1117;
    --font: #BEBEBE;

/* ------------------------------------------ reset css 󰌜 */ 

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    scroll-behavior: smooth;
    touch-action: manipulation;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 0 6rem;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: var(--bacground);
    color: var(--font);
}



/* textos */

h1, h2, h3, h4, h5, h6, p, a, span, strong, blockquote, i, b, u, em { 
    overflow-wrap: break-word; 
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    text-wrap: balance;
    color: inherit;
}

p { hyphens: auto; text-wrap: pretty; }

a { display: block; background-color: transparent; }

p a { display: inline; }

li { list-style-type: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}


/* formularios */

form, input, button, textarea, select, label { 
    display: block;
    font: inherit;
    color: inherit;
    background-color: transparent; 
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}


/* tablas */

table, tr, td { border-collapse: collapse; border-spacing: 0; }

  
/* recursos multimedia */

img, picture, video, canvas, svg, frame, figure {
    display: block;
    max-width: 100%;
    aspect-ratio: 16/9;
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
    /* -o-object-position: center center; */
    /* object-position: center center; */
}

svg { fill: currentcolor; display: inline-block; }



/* .............................. generales ............................... 󰌜 */

.titulo__h1 { font-size: 2rem; }

.sub-titulo__h2 { font-size: 1.3rem; }



/* ................................. menu ................................. 󰌜 */ 
/* menú superior de secciones */

.menu {
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    padding-right: 2rem;
}

.menu__div {
    display: flex;
    justify-content: right;
    align-items: center;
    
    p { display: inline-block;}
}

.menu__div-1 {
    display: flex;
    justify-content: last baseline;
    align-items: center;
    width: 50%;
}

.menu__div-1 p {
    display: inline-block;
    font-size: 0.7rem;
}

.menu__div-2 {
    display: flex;
    justify-content: right;
    width: 50%;
}

.menu__li {
    display: inline-block;
}

.menu__a {
    margin-inline: 1rem;
    text-decoration: none;
}



/* ................................ poster ................................ 󰌜 */
/* portada con poster e introducción del Blog */

.poster {
    width: 100%;
    height: 320px;
}

.poster__figure {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.poster__img {
    width: 45%;
    height: 100%;
    margin-inline: auto;
    border-radius: 0.5rem;
}



/* ................................ intro ................................ 󰌜 */

.intro {
    height: 27%;
    padding: 1rem;
    text-align: center;
}



/* ........................... caracteristicas ............................ 󰌜 */

.caracteristicas {
    width: 100%;
    padding: 2rem;
}   

.caracteristicas__h2 {
    font-size: 1.3rem;
}



/* ................................ video ................................. 󰌜 */

.video {
    width: 100%;
    height: 300px;
}

.video__iframe {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    }

.video__video {
    width: 45%;
    height: 100%;
    margin-inline: auto;
}

iframe {
    max-width: 100%;
    border-radius: 0.5rem;
  }
  


/* ............................ requerimientos ............................ 󰌜 */

.requerimientos {
    width: 100%;
    padding: 2rem;
}

.requerimientos__div-flex {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.requerimientos__div-flex-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    margin-inline: auto;
    padding: 1rem;
}

th, td {
    padding: 2px;
    border: 1px solid silver;
    font-size: 0.7rem;
    width: 10rem;
}

.center { text-align: center; }

.requerimientos__div-flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    margin-inline: auto;
    padding: 1rem;
}



/* ............................... licencia ............................... 󰌜 */

.licencia {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.licencia__div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.licencia__div-flex__p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.licencia__p {
    padding: 1rem;
    text-wrap: pretty;
}

.licencia__div-flex__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}



/* ................................ footer ................................ 󰌜 */

.footer {
    width: 100%;
}

.footer__div-redes {
    display: flex;
    width: 100%;
    margin-inline: auto;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.footer__div-redes__button {
    margin-inline: 1rem;
    padding-inline: 1rem;
    color: var(--font);
    text-align: center;
    font-size: 0.7rem;
}

.footer__div-p {
    width: 100%;
    padding: 2rem;
    font-size: 0.7rem;
    text-align: center;
}



/* ................... mediaquerys | pantallas tabletas ................... 󰌜 */
@media screen and (min-width: 768px) and (max-width: 830px) {

    .poster__img { width: 80%; }

    .video__video { width: 80%; }

    .requerimientos__div-flex { display: block; }

    .licencia__div-flex { display: block; }
}

/* ................. mediaquerys | pantallas smartphones .................. 󰌜 */
@media screen and (max-width: 767px) {

    .poster__img { width: 80%; }

    .video__video { width: 80%; }

    .requerimientos__div-flex { display: block; }

    .licencia__div-flex { display: block; }

}