@charset "UTF-8";

/* PLANTILLA CSS - título o nombre del archivo */


@font-face {
    font-family: 'JetBrains';
    src: url('./Documentacion/fonts/JetBrains.woff') format('woff');
    font-display: swap;
}

/* --------------------------------- variables globales 󰌜 */

:root {

    /* Paleta de colores */
    --blanco: #ffffff;
    --negro: #000000;
    --grafito: #23232a;
    --font: "JetBrains";
    --gradient: linear-gradient(180deg, 
                rgba(172,210,230,1) 0%, 
                rgba(203,208,202,1) 30%, 
                rgba(84,108,128,1) 75%, 
                rgba(59,59,71,1) 100%);

}
/* ------------------------------------------ reset css 󰌜 */ 

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    scroll-behavior: smooth;
    touch-action: manipulation;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 100%;
    background: var(--gradient);
    font-family: var(--fuente-texto);
    color: var(--grafito);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin-inline: 10%;
    font-family: var(--font);
    /* line-height: 1.4em; */
    /* -webkit-hyphens: auto; */
    /* -ms-hyphens: auto; */
    /* hyphens: auto; */
    /* font-smooth: always; */

}


/* textos */

h1, h2, h3, h4, h5, h6, p, a, span, strong, blockquote, i, b, u, em { 
    overflow-wrap: break-word; 
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    text-wrap: balance;
    color: inherit;
}

p { hyphens: auto; text-wrap: pretty; }

a { display: block; background-color: transparent; }

p a { display: inline; }

li { list-style-type: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}


/* formularios */

form, input, button, textarea, select, label { 
    display: block;
    font: inherit;
    color: inherit;
    background-color: transparent; 
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}


/* tablas */

table, tr, td { border-collapse: collapse; border-spacing: 0; }

/* recursos multimedia */

img, picture, video, canvas, svg, frame, figure {
    display: block;
    max-width: 100%;
    aspect-ratio: 16/9;
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
    /* -o-object-position: center center; */
    /* object-position: center center; */
}

svg { fill: currentcolor; }


/* propios del proyecto */

.small { font-size: 0.7rem; }

.alig-left { text-align: left; }

.bold { font-weight: 600;}



/* --------------------------------------------------------------------- menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    height: 3rem;
    padding-inline: 1rem;
    /*background-color: aquamarine;*/
}

.menu__logo-box, .menu__name-box {
    display: flex;
    justify-content: left;
    align-items: center;
    /*flex: 1;*/
    /*flex-basis: 50%;*/
}

.menu__name-box { width: 70%; }
.menu__logo-box { width: 30%; }


.name-box__p {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    text-align: right;
}

.name-box__p ul {
    display: flex;
    justify-content: left;
    font-size: 13px;
}

.name-box__p ul li {
    padding-inline: 1rem;
}



/* ............................................. dropdown */
.menu__dropdown {   /* display none */
    display: none;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: grey;
}

.dropdown__button {
    background-color: black;
    width: 3rem;
    margin-right: 2%;
    padding: 0.5rem;
}


.dropdown__box {
    position: absolute;
    top: 3rem;
    min-width: 15rem;
    margin-right: 2%;
    border-radius: 0.5rem;
    background: white;
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px 
        rgba(27, 31, 35, 0.1), 
        0 0 1px rgba(27, 31, 35, 0.4), 
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {        
        opacity: 0;
        transform: scale(0.99)
            translateY(-0.7em);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) 
            translateY(0);
    }
}


/* Mostrar el .dropdown__box al hacer hover en el botón y sus hijos */
.dropdown__button:focus + .dropdown__box,
.dropdown__button:focus .dropdown__box {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.2s ease-in-out;
}

/* ------------------------------------------------------------------- header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: lightgrey;*/
}

.header__article, .header__poster {
    flex: 1;
    flex-basis: 50%;
    width: 100%;
    margin: 1%;
}

/* ............................................... titulo */

.titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2rem;
    /*background-color: grey;*/   
}

.titulo__h1 {
    width: 100%;
    font-size: 1.8rem;
    padding-inline: 1rem;
    text-wrap: balance;
    text-align: left;
}

.sub-titulo__h2 {
    width: 100%;
    font-size: 1.3rem;
    text-wrap: balance;
}

.titulo__tags {
    display: flex;
    flex-basis: 1;
    width: 100%;
    height: 2.5rem;
    padding-block: 0.5rem;
    /*background-color: aqua;*/
}

.titulo__p {
    width: 100%;
    padding: 1rem;
    /*background-color: aquamarine;*/
    text-wrap: pretty;
}


/* ............................................... poster */

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: lightgrey;*/
}

.poster__box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20rem;
    margin: 2%;
    /*background-color: aqua;*/
}

.poster__box img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
    object-fit: cover;
}



/* ----------------------------------------------------------------- features */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-block: 1rem;
    /*background-color: grey;*/
}

.features__use-box, .features__tec-box {
    width: 96%;
    margin-inline: 2%; 
    padding: 1rem;
    /*background-color: aqua;*/
}



/* -------------------------------------------------------------------- video */

.video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*background-color: lightgrey;*/
}

.video__box {
    width: 50%;
    height: 20rem;
    margin: 4%;
    /*background-color: aqua;*/
}

.video__box-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}



/* ----------------------------------------------------------------- required */

.required {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 1rem;
    /*background-color: grey;*/
}

.required__table-box {
    width: 100%;
    margin: 2%;
    /*background-color: aqua;*/
}

table {
    width: 80%;
    text-align: right;
}

th, td {
    /*border: 1px solid var(--grafito);*/
}

th { text-align: center; }

.silver_row { background-color: #a4afb2; }

.required__img-box {
    width: 100%;
    height: 15rem;
    margin: 2%;
}

.required__img-box figure {
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* ------------------------------------------------------------------ license */

.license {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 1rem;
    /*background-color: lightgrey;*/
}

.license__img-box {
    width: 100%;
    height: 15rem;
    margin: 2%;

}

.license__img-box figure {
    width: 100%;
    height: 100%;
}

.license__p-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 1rem;
}



/* ------------------------------------------------------------------- footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
    color: silver;
    /*background-color: black;*/
    /*color: silver;*/
}

.footer__n-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.n-box__img {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    width: 5rem;
    height: 5rem;
}

.footer__redes-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 50%;
}

.redes-box__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 3rem;
    margin-inline: 0.5rem;
    /*paddin: 0.5rem;*/
    /*background-color: red;*/
    /*color: white;*/
}

.redes-box__button a {
    text-align: center;
}

.redes-box__button img {
    width: 32px;
    height: 32px;
    margin-inline: auto;
}

a span {
    display: block;
    width: 100%;
}

.footer__p-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}



/* ............... mediaquerys | pantallas pc - portátiles ................ 󰌜 */ 
@media screen and (min-width: 1000px) {}



/* ................... mediaquerys | pantallas tabletas ................... 󰌜 */
@media screen and (min-width: 884px) and (max-width: 1100px) {

    body { margin-inline: 0%; }

}



/* ................. mediaquerys | pantallas smartphones .................. 󰌜 */
@media screen and (max-width: 883px) {

    body { margin-inline: 0; }
    table { font-size: 0.8rem; }
    .menu { display: none; }
    .menu__dropdown { display: flex; }
    .header { flex-direction: column; }
    .header__article, .header__poster { flex-basis: 100%; } 
    .titulo__h1 { font-size: 1.3rem; text-align: left; }
    .poster__box { height: 10%; }
    .video__box { width: 100%; height: 100%; }    
    .n-box__img { width: 3rem; height: 3rem; }
    .footer__redes-box { width: 100%; }
    .redes-box__button { width: 3rem; height: 3rem; margin-inline: 1rem; }
    .redes-box__button .small { display: none; }

}
